<html>
    <head>
        <title>Mi Sitio</title>
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
<body>
    <header>
        <nav>
            <p>Mi Sitio</p>
            <ul>
                <li>
                   <a href="/peliculas/crear"> crear peli</a>
                </li>
                <li>
                    <a href="/peliculas">ver peli</a>
                </li>
            </ul>
        </nav>
    </header>